.form-control {
    color: black;  
    /* font-weight: 500; */
}

.form-control:focus {  
    color: black;
    /* font-weight: 500; */
}

/* .dropdown-menu-right {
    right: 0;
    left: auto !important;
} */

/* .nav-link:hover {
    color: green !important;
} */

.btn-link:hover {
    color: grey !important;
    background-color: white !important;
}

.small {
    font-size: 101% !important;
}

.mt-5 {
    margin-top: 1rem !important;
    /* box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important; */
}

.color-consumidor {
    color: #ffd203 !important;
}
.color-actividad {
    color: #6fe036 !important;
}
.color-ofertante {
    color: #f44611 !important;
}

.color-sadmin {
    color: #ce11f4 !important;
}

.color-reserva-confirmada {
    color: #00c000 !important;
}
.color-reserva-cancelada {
    color: #c00000 !important;
}

.color-demanda {
    color: #00ffaa !important;
}


.color-actividad-max {
    color: #e62a11 !important;
}
.color-actividad-min {
    color: #88ff01 !important;
}
.color-actividad-libres {
    color: #bbff00 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#dashlink:hover {
    text-decoration: none !important;
}
#dashlink:visited {
    color: inherit !important;
}